---
import Section from "../Section.astro";
import { skills } from "@cv";
---

<Section title="Habilidades">
  <ul class="inline-flex gap-2">
    {
      skills.map(({ name }) => {
        return (
          <li class="rounded-md bg-gray-200 text-black font-medium py-1 px-2">
            <p>{name}</p>
          </li>
        );
      })
    }
  </ul>
</Section>
