---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "@/components/sections/Header.astro";
import Experience from "@/components/sections/Experience.astro";
import About from "@/components/sections/About.astro";
import Projects from "@/components/sections/Projects.astro";
import Hero from "@/components/sections/Hero.astro";
import Education from "@/components/sections/Education.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
---

<BaseLayout title="Inicio | Mi Portfolio">
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
  <KeyboardManager />
</BaseLayout>
